  body { font-family: Avenir, helvetica, arial, comic sans, sans-serif; }

  .btn--header,.btn--header:link,.btn--header:visited{ font-size: 12px; border-width: 2px; border-color: rgba(0, 31, 63, .8);}
  
  .btn--header:hover{color:rgba(255,255,255,.8); background-color: rgba(0,31,63,.8);}
  
  .btn--header:hover svg {fill: #fff; }
  
  .btn--header:hover.btn--github{-webkit-transition:all.3s; opacity:.9;}
  
  .btn--github{transition:all.4s;-webkit-transition:all.4s; background:url(http://mrmrs.io/type.css/svg/octocat.svg) no-repeat 0 0;background-size:contain;padding-left:2em;opacity:0.6;}
  
  .btn--twitter{transition:all.4s;-webkit-transition:all.4s;background:url(http://mrmrs.io/type.css/svg/twitter.svg) no-repeat 0 0;background-size:contain;padding-left:2em;opacity:0.6;}
  
  .white{color:rgba(255,255,255,0.8);}
